.heading{
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    justify-content: center;
    align-items:center;
}

.legend{
    border:1px solid white;
    padding:5px;
    gap:5px;
    display:flex;
    flex-flow:column;
}

input{
    float:right;
}

select{
    float:right;
}